*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background-color: rgba(128, 128, 128, 0.363);
    height: 90vh;
    width: 60vw;
    
}
.out1{
    margin-top: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 3px 10px black;
    background-color: white;
    height: 80vh;
    width: 50vw;
}
img{
   
    width:50vw;
    height: 35vh;
}
.mid > p, h1{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.mid > p:nth-child(3){
    border-top: 0.1px solid black;

}